/* 헤더 */

* {margin:0;padding:0;}

.linavbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 0;
    margin: 0;
    height: 80px;
    width: 100%;
    z-index: 100;
    font-family: "Noto Serif KR", serif;
    font-weight: 600;
    font-style: normal;
}

a{
    text-decoration: none;
    color: gray;
}

.linavbar_logo{
    font-size: 25px;
    color: gray;
    margin: 20px;
}

.linavbar_logo i{
    color: #d49466;
}

.linavbar_menu{
    display: flex;
    list-style: none;
    margin: 20px;
}



.linavbar_menu li{
    padding: 20px;
    font-size: 15px;
}

/*메인*/

.letter {
    width: 900px;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px auto;
    border-radius: 20px;
    background-color: #f2f2f2;
    box-shadow: 0 4px 6px rgba(15,177,182);
}

.lettertitle {
    background-color: #f2f2f2;
    text-align: center;
    font-family: "Noto Serif KR", serif;
    font-weight: 600;
    font-style: normal;
    font-size: 20px;
}
.lettertitle th {
    font-size: 30px;
}


.letterwirter {
    position: relative;
    left: 30%;
    font-family: "Noto Serif KR", serif;
    font-weight: 600;
    font-style: normal;
    margin-top: 30px;
}
.letterwirter tr {
    font-size: 25px;
}

.lettercontents {
    padding : 5%;
    font-family: "Noto Serif KR", serif;
    font-weight: 600;
    font-style: normal;
}
.lettercontents td{
    word-break:break-all;
    word-wrap:break-word;
    font-size: 20px;
    overflow:hidden;
}
.letterdate {
    position: relative;
    left: 30%;
    font-family: "Noto Serif KR", serif;
    font-weight: 600;
    font-style: normal;
    border-bottom-width: 62px;
    bottom: 30px;
}





/* 푸터 */
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: white;
    color: gray;
    padding: 0;
    margin: 0;
}

.footer-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0;
}

.footer-section {
    flex: 1;
    margin: 10px;
    padding: 20px;
    font-size: 12px;
}

.footerp {
    text-align: center;
    font-size: 12px;
}